<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Login" value="1"/>
		<add key ="Password" value="1234567890"/>
		<add key ="Email" value ="LOL@mail.ru"/>
	</appSettings>
</configuration>